
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.counter{
    background-color: red;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#count{
    font-size: 48px;
    margin: 20px 0;
}

.buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

